@import '../../../variables';

.navbar-wrapper {
  width: 100%;
  padding-top: rem(45);
}

.navbar-container {
  max-width: $design-width;
  height: rem(137);
  margin: 0 auto;
  padding: 0 $container-padding;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  gap: rem(40);

  li a {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: rem(16);
    line-height: rem(20);
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    letter-spacing: 0.1em;

    transition: color 0.2s ease;

    &:hover {
      color: $color-accent;
    }
  }
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;

  img {
    height: rem(137);
    width: auto;
    display: block;
  }
}
