<div class="homepage container">

  <section class="hero-layer">
    <h1 class="hero-title">Willkommen bei <br> Pfadi St. Justus <br> in Flums</h1>
    <a routerLink="/join" class="cta-button">Mitglied werden</a>
  </section>

  <div class="hero-visual">
    <div class="photo-container">
      <img src="/assets/images/group.png" class="group-photo" alt="Pfadi Gruppe">
    </div>

    <div class="blob-container">
      <img src="/assets/elements/blob.svg" alt="blob">
    </div>
  </div>

  <section class="stufen-layer">
    @for (group of stufen; track group.slug) {
      <div class="stufen-box" [routerLink]="['/stufe', group.slug]" [style.background-color]="group.color">
        <span>{{ group.name }}</span>
      </div>
    }
  </section>

  <section class="insta-layer">
    <h2 class="insta-title">Das läuft bei uns gerade</h2>
    <div class="insta-grid">
      @for (i of [1,2,3,4,5,6,7,8,9]; track i) {
        <div class="insta-post"></div>
      }
    </div>
  </section>

</div>
