@use 'sass:color';
@use 'sass:math';
@use '../variables' as *;

$padding-horizontal: calc(3em + #{math.div(30px, 1440px) * 100vw});
.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    position: relative;
}


.hero-section {
    flex-grow: 1;
    display: grid;
    grid-template-columns: minmax(auto, 1fr) minmax(300px, 1fr);
    grid-template-rows: 1fr;
    gap: 2vw;
    padding: 5vw $padding-horizontal;
    position: relative;
    overflow: hidden;
    align-items: center;

    @media (max-width: 900px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        padding-top: 8vw;
        padding-bottom: 8vw;
    }
}

.hero-content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 2;
    padding-right: 2vw;

    @media (max-width: 900px) {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        text-align: center;
        padding-right: 0;
        margin-bottom: 3vw;
    }
}

.hero-content .heading-1 {
    font-size: clamp(3rem, 7vw, math.div(96px, 16px) * 1em);
    font-weight: $font-weight-extrabold;
    letter-spacing: $letter-spacing-wide;
    color: $color-primary-gelb;
    margin: 0 0 0.5em 0;
    line-height: 1.1;
    word-break: break-word;
    hyphens: auto;
    text-align: left;

    @media (max-width: 900px) {
        text-align: center;
    }
}

.hero-content .btn.back-home-button {
    margin-top: 1.5em;
}

.hero-image-container {

}

.hero-image {
  width: 100%;
  max-width: 665px;
  max-height: 631px;
}

.hero-blob {
  width: 100%;
  max-width: 686px;
}
