@use "sass:math";

// 1. Colors
$color-primary: #ebc531;
$color-accent: #4251d5;
$color-muted: #5c6196;
$color-bg: #f7f5ee;
$color-dark: #373841;

// 2. Font Weights (Outfit)
$fw-extralight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;
$fw-extrabold: 800;

// 3. Helper Function
@function rem($px) {
  @return math.div($px, 16) * 1rem;
}

// 4. Layout
$design-width: 1440px;
$container-padding: rem(75);
$container-padding-mobile: rem(20);
$container-padding-tablet: rem(40);
$section-gap: rem(100);
$section-gap-mobile: rem(50);
$section-gap-large: rem(150);
$section-gap-large-mobile: rem(80);

// 5. Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

@mixin mobile {
  @media (max-width: #{$breakpoint-md - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-md}) and (max-width: #{$breakpoint-lg - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-lg}) {
    @content;
  }
}

// 6. Stufen Colours
$color-biber: #EAC04A;
$color-woelfe: #1380A3;
$color-pfader: #B78E60;
$color-pios: #BF2E26;
$color-yellow-hero: #EAC04A;
